.language {
  font-weight: bold;
  font-size: 0.813em;
  width: 140px;
  z-index: 9999;
  position: relative;
  // display: flex;
  align-items: center;

  button,
  & > a {
    text-align: left;
    display: block;
    background: #555;
    box-sizing: border-box;
    color: #fff;
    padding: 0.2em 1em;
    position: relative;
    transition: 0.3s ease-out;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 0;
    width: 100%;

    &:after {
      position: absolute;
      right: 0.8em;
      top: 1em;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 3px 0 3px;
      border-color: #ffffff transparent transparent transparent;
    }

    &:before {
      position: absolute;
      width: 1px;
      height: 1.6em;
      right: 2em;
      top: 0.4em;
      content: '';
      border-left: 0px solid #ddd;
    }

    // &:focus-visible {
    //   box-shadow: none;
    //   background: #444;
    // }
  }

  ul {
    background: #444;
    padding: 1em 1.5em;
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    @include liReset;

    li {
      flex: 1;
      box-sizing: border-box;
      margin: 0;

      a {
        display: block;
        color: #fff;
        padding: 0.5em 0.5em 0.5em 1em;
        transition: 0.3s ease-out;

        &:hover,
        &:focus-visible {
          background: $colorPrimary;
          border-inline: $aHover 2px solid;
        }
      }
    }
  }
}

@include screen('mobileMin') {
  .language.typeB {
    width: auto;
    padding-top: 50px;

    & > button,
    & > a {
      text-indent: -9999px;
      color: transparent;
      width: 2.5rem;
      aspect-ratio: 1/1;
      position: relative;
      background: $colorPrimary;
      border-radius: 50%;
      border: none;

      &::before {
        width: 100%;
        aspect-ratio: 1/1;
        content: 'En';
        text-indent: 0;
        color: #fff;
        position: absolute;
        text-align: center;
        inset: 0;
        line-height: 2.5rem;
        z-index: 2;
        display: block;
      }

      &::after {
        display: none;
      }
    }

    ul {
      width: 100px;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);

      li a {
        padding: 5px;
      }
    }
  }
}
