@charset "utf-8";
// 文章標題
h1.title,
h2.title {
  font-size: 1.8em;
  line-height: 1.25em;
  margin: 1em 0 0.5em;
  padding-left: 50px;
  position: relative;
  color: $colorGreen;
  &:before {
    content: '';
    width: 38px;
    height: 60px;
    background: url(../images/h2tree.png) no-repeat left top;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    top: -0.2em;
    @include screen('mobile') {
      // left: 50%;
      // top: -0.4em;
      // margin-left: -3.2em;
    }
  }
}
h3 {
  font-size: rem(24);
  border-left: solid 5px $colorPrimary;
  padding-left: 0.5em;
}
// .tt{ color: #222; }
.cp {
  margin: 1em 0 3em;
  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    background: #f1f1f1;
    overflow: hidden;
    padding: 0.5em 0.5em 0.2em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    span {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  .peopleimg {
    float: left;
    margin: 0px 2em 1em 0;
    width: auto;
    width: 45%;
    max-width: 200px;
    background: #f1f1f1;
    overflow: hidden;
    padding: 0.5em 0.5em 0.2em 0.6em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    span {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    figcaption {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 80%;
      width: auto;
      margin: 1px auto;
      display: block;
      margin-bottom: 2em;
    }
  }
  table {
    background: #fff;
    caption {
      text-align: center;
      margin: 0.5em;
      font-size: rem(20);
    }
    th {
      padding: 0.5em;
      border: solid 1px #9c9995;
      border-radius: 0;
    }
    td {
      padding: 0.5em;
      border: solid 1px #ccc;
    }
  }
  img {
    &.floatLeft {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.floatRight {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.publishInfo {
  font-size: 0.875em;
  line-height: 1.5em;
  list-style: none;
  margin: 1em 0 1em 0;
  border-left: solid 5px $colorPrimary;
  padding: 0.8em 1.5em 0.8em;
  background: #f5f3dc;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  li {
    flex: 1 1 calc(100% / 3);
    // margin-bottom: 0.5em;
    @include screen('tablet') {
      flex: 1 1 calc(100% / 2);
    }
    @include screen('mobile') {
      flex: 1 1 calc(100% / 1);
    }
  }
}

// 檔案下載
.fileDownload {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3,
  h4 {
    font-size: rem(24);
    margin-left: 0.3em;
    // border-bottom: solid 1px #ddd;
    // padding: 12px 0px 15px 0px;
    // margin: 0.5em 0px 0.2em;
    // border-bottom: 1px solid $colorPrimary;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  li {
    display: flex;
    flex: 1 1 48%;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    @include screen('tablet') {
      flex: 1 1 100%;
    }
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.42em;
      left: 0.1em;
      color: #666;
    }

    .fileName {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    //notice 保留file_比較清楚知道是對應什麼
    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;

          &:hover,
          &:focus-visible {
            color: #fff;
          }
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        a {
          background: #c00;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        a {
          background: #eb712e;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        a {
          background: #555;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        a {
          background: #009999;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        a {
          background: #6c29a4;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        a {
          background: #430a1f;
          text-decoration: none;
          &:hover,
          &:focus-visible {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}
// 外部連結
.webLink {
  margin: 1em 0;
  h3 {
    // font-size: 1.5em;
    // padding: 12px 0px 15px 0px;
    // margin: 0.5em 0px 0.2em;
    // border-bottom: 1px solid $colorPrimary;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.25em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.25em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting($colorWord);
    }
  }
}
.info {
  margin: 1em 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: rem(15);
    color: #666;
    li {
      margin: 1em 0.5em;
      padding: 0 0 0 0.8em;
      display: inline-block;
      position: relative;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        background: $colorPrimary;
        position: absolute;
        left: 0;
        top: 0.65em;
      }
    }
  }
}
.rightBlock {
  display: flex;
  h3 {
    flex: 1 1 auto;
    border-left: solid 5px $colorPrimary;
    padding-left: 0.5em;
  }
  .formGrp {
    flex: 0 0 30%;
    label {
      display: none;
    }
    select,
    input {
      width: calc(100% - 6em);
    }
    @include screen('mobile') {
      flex: 0 0 60%;
    }
  }
}
.chief {
  margin: 3em 0 2em;
}
.pic2 {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    li {
      flex: 0 1 50%;
      text-align: center;
      @include screen('mobile') {
        flex: 1 1 100%;
      }
      img {
        width: 100%;
        max-width: 100% !important;
        max-height: 100%;
        padding: 1em 1em 0;
      }
      @include screen('mobile') {
        img {
          padding: 1em 0em 0;
        }
      }
    }
  }
  figcaption {
    font-size: rem(15);
    line-height: 1.3em;
  }
}
.pic3 {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      flex: 0 1 80%;
      text-align: center;
      @include screen('mobile') {
        flex: 1 1 100%;
      }
      img {
        width: 100%;
        max-width: 100% !important;
        max-height: 100%;
        padding: 1em 0.5em 0;
      }
      @include screen('mobile') {
        img {
          padding: 1em 0em 0;
        }
      }
    }
  }
  figcaption {
    font-size: rem(15);
    line-height: 1.3em;
  }
}
.int {
  background: #f9ebe5;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-size: 0.938em;
  margin-bottom: 1em;
  p {
    margin: 0;
  }
}
.popupBox {
  padding: 1em 2em;
  h1.title,
  h2.title {
    margin: 0.5em 0;
  }
  ol,
  ul {
    margin: 1em 0.8em 1em 2em;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
  p {
    margin: 1em 0.8em;
  }
  .publishInfo {
    background: #eee;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 1em;
    li {
      margin: 0;
    }
  }
}
.login {
  p {
    margin: 1em;
  }
}
.protect {
  text-align: right;
  padding: 1em;
  img {
    width: 100%;
    max-width: 300px !important;
  }
}
.form_service {
  .int {
    font-size: 1rem;
    margin: 1em 0;
    padding: 1em;
  }
}
