footer {
  clear: both;
  text-align: left;
  font-size: 1em;
  padding: 2em 0;
  background: #484845;
  color: #fff;

  .container {
    justify-content: space-between;
    @include gutter;
    & > div {
      padding-bottom: 1em;
    }
    display: flex;
    @include screen('tablet') {
      flex-wrap: wrap;
    }
    @include screen('xsMobile') {
      padding-bottom: 60px;
    }
  }
  a {
    text-decoration: none;
    color: $colorPrimary;
    &:hover,
    &:focus-visible {
      color: darken($colorPrimary, 10);
    }
  }
  .infoBox {
    padding: 0 2em 0 1em;
    @include screen('tablet') {
      flex: 1 1 100%;
    }
  }
  .footerLogo {
    flex: 0 1 240px;
  }
  .footerInfo {
    flex: 1 1 auto;
    padding: 0 2em;
    border-left: solid 1px #8a8988;
    @include screen('tablet') {
      border: none;
    }
  }
  .footerIcon {
    flex: 0 1 200px;
    text-align: right;
    @include screen('tablet') {
      flex: 1 1 100%;
      margin-top: -5em;
    }
    @include screen('xsMobile') {
      margin-top: 0;
      position: absolute;
      left: 2.5em;
      bottom: 0;
    }
  }
  // 版權連結
  .footerLink {
    @include liReset();
    clear: both;
    display: flex;
    margin-bottom: 10px;
    @include screen('mobile') {
      flex-flow: row wrap;
    }
    li {
      flex: 0 1 auto;
      margin: 0px 5px 5px 0px;
      @include screen('mobile') {
        flex: 1 1 25%;
      }
      a {
        display: block;
        padding: 0.25em 1em;
        background: $colorPrimary;
        color: #fff;
        text-align: center;
        transition: 0.3s ease-out;
        white-space: nowrap;
        border-radius: 2em;
        &:hover,
        &:focus-visible {
          background: darken($colorPrimary, 10);
        }
      }
    }
  }
  p {
    line-height: 1.65em;
    margin: 5px 0;
  }
  .update,
  .counter {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.938em;
    em {
      font-style: normal;
      color: $colorSecondary;
      padding: 0 0.5em;
    }
  }
  .footerIcon {
    a {
      display: inline-block;
      vertical-align: top;
      position: relative;
      &:focus-visible {
        &:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow: 0px 0px 0px 1px $aHover inset;
          z-index: 99;
        }
      }
    }
    img {
      max-width: 150px;
      margin: 0 5px;
    }
  }
  .tname {
    color: $colorSecondary;
  }
}

footer.typeB {
  padding-top: 3%;
  background: #014072;
  .container {
    justify-content: space-between;
  }
  .footerInfo {
    color: #fff;
  }
  .footerLink {
    li a {
      padding: 0;
      padding: 0 0 0 20px;
      text-align: right;
      background: none;
      font-size: rem(14);
    }
  }
  .footerIcon {
    text-align: right;
  }
}
